@font-face {
    font-family: 'DINPro';
    src: url('DINPro.woff2') format('woff2'),
         url('DINPro.woff') format('woff'),
         url('DINPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Bold.woff2') format('woff2'),
         url('DINPro-Bold.woff') format('woff'),
         url('DINPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Italic.woff2') format('woff2'),
         url('DINPro-Italic.woff') format('woff'),
         url('DINPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-BoldItalic.woff2') format('woff2'),
         url('DINPro-BoldItalic.woff') format('woff'),
         url('DINPro-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedRegular.woff2') format('woff2'),
         url('DINPro-CondensedRegular.woff') format('woff'),
         url('DINPro-CondensedRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedBold.woff2') format('woff2'),
         url('DINPro-CondensedBold.woff') format('woff'),
         url('DINPro-CondensedBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedItalic.woff2') format('woff2'),
         url('DINPro-CondensedItalic.woff') format('woff'),
         url('DINPro-CondensedItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedBoldItalic.woff2') format('woff2'),
         url('DINPro-CondensedBoldItalic.woff') format('woff'),
         url('DINPro-CondensedBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedLight.woff2') format('woff2'),
         url('DINPro-CondensedLight.woff') format('woff'),
         url('DINPro-CondensedLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedLightItalic.woff2') format('woff2'),
         url('DINPro-CondensedLightItalic.woff') format('woff'),
         url('DINPro-CondensedLightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedMedium.woff2') format('woff2'),
         url('DINPro-CondensedMedium.woff') format('woff'),
         url('DINPro-CondensedMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedMediumItalic.woff2') format('woff2'),
         url('DINPro-CondensedMediumItalic.woff') format('woff'),
         url('DINPro-CondensedMediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedBlack.woff2') format('woff2'),
         url('DINPro-CondensedBlack.woff') format('woff'),
         url('DINPro-CondensedBlack.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-CondensedBlackItalic.woff2') format('woff2'),
         url('DINPro-CondensedBlackItalic.woff') format('woff'),
         url('DINPro-CondensedBlackItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Light.woff2') format('woff2'),
         url('DINPro-Light.woff') format('woff'),
         url('DINPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-LightItalic.woff2') format('woff2'),
         url('DINPro-LightItalic.woff') format('woff'),
         url('DINPro-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-Medium.woff2') format('woff2'),
         url('DINPro-Medium.woff') format('woff'),
         url('DINPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url('DINPro-MediumItalic.woff2') format('woff2'),
         url('DINPro-MediumItalic.woff') format('woff'),
         url('DINPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
